################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/AutoClicker/obj
/AutoClicker/bin/Debug
/.vs/AutoClicker/v15
/.vs
